* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

body {
	background: #222;
}

.card {
	width: 90%;
	max-width: 470px;
	background: linear-gradient(150deg, #FF0A6C 15%, #2D27FF);
	color: #fff;
	margin: 100px auto;
	border-radius: 20px;
	padding: 40px 35px;
	text-align: center;
}
/*Search start*/
.search {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search input {
	border: 0;
	outline: 0; /*outline - линия которая рисуется за пределами границ, что бы выделить элемент*/ 
	background-color: white;
	color: #555;
	padding: 10px 25px;
	max-width: 100%;
	min-width: 100px;
	height: 60px;
	border-radius: 30px;
	flex: 1; /*flex: 1; - Это сокращение для использования flex-grow, 									сжиматься при необходимости.*/
	margin-right: 25px;
	font-size: 18px;
}

.search button {
	border: 0;
	outline: 0; 
	background-color: white;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	cursor: pointer;
	margin-right: 20px;
}

.search button:last-child {
	margin-right: 0;
}

.search button img {
	width: 23px;
}

.error {
	text-align: left;
	margin-left: 10px;
	font-size: 17px;
	margin-top: 10px;
	display: none;
}
/*Search end*/

/*Weather start*/
.weather_icon {
	width: 170px;
	margin-top: 30px;
}

.weather h1 {
	font-size: 80px;
	font-weight: 500;
}

.weather h2 {
	font-size: 45px;
	font-weight: 400;
	margin-top: -10px;
}

.details {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	margin-top: 50px;
}

.col {
	display: flex;
	align-items: center;
	text-align: left;
}

.col .hum {
	flex-direction: column;
}

.col img {
	width: 40px;
	margin-right: 10px;
}

.col .p {
	font-size: 20px;
}

.humidity, .wind {
	font-size: 28px;
	margin-top: -6px;
}

.weather {
	display: none;
}
/*Weather end*/

.favourites {
	border: 0;
	outline: 0;
	width: 100%; 
	max-width: 100%;
	min-width: 100px;
	height: 80px;
	background-color: white;
	border-radius: 20px;
	margin-top: 30px;

	display: none;
}

/*.favourites_wrapper {
	max-width: 400px;
 	margin: 0 auto;
}*/

.favorit_block {
	height: 100%;
	display: flex;
	align-items: center;
} 

.favourites a {
	border: 0;
	outline: 0; /*outline - линия которая рисуется за пределами границ, что бы выделить элемент*/ 
	color: #555;
	font-size: 22px;
	text-decoration: none;
	margin-left: 25px;
} 

.favourites a:first-child {
	margin-left: 23px;
	color: black;
	font-size: 28px;
}



@media screen and (max-width: 480px) {
	.col img {
		display: none;
	}

	.weather h1 {
	font-size: 50px;
	font-weight: 500;
	}

	.weather h2 {
	font-size: 40px;
	}

	.weather .details {
		flex-direction: column;
	}

	.weather .col {
		text-align: center;
	}

	.hum {
	margin-bottom: 20px;
	}

	.humidity, .wind {
	font-size: 40px;
	}
}
